<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<svg width="800" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var nodes_data =  [
    {% for e in graf.vertices %}
    {"id" : {{e.id}}, "name" : "{{e.name}}", "element_type" : "{{e.element_type}}", "atributes" : {{e.atributes}} },
    {% endfor %}
    ]

//Sample links data
//type: A for Ally, E for Enemy
var links_data = [
    {% for l in graf.edges %}
    {"source": {{l.endpoints[0].id}}, "target": {{l.endpoints[1].id}} },
    {% endfor %}
]

</script>
</head>
<body>
</body>
</html>