<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
<svg width="800" height="500"></svg>
<script>
var nodes_data =  [
    {% for e in graf.vertices %}
    {"id" : {{e.id}}, "name" : "{{e.name}}", "element_type" : "{{e.element_type}}", "atributes" : "{{e.get_json_attributes}}" },
    {% endfor %}
    ]

var links_data = [
    {% for l in graf.edges %}
    {"source": {{l.endpoints.0.id}}, "target": {{l.endpoints.1.id}} },
    {% endfor %}
]

{{plagin.visualize | safe}}

</script>
</body>
</html>